
html {
  background-color: #111;
}

@font-face {
   font-family: "custommain";
   src: url("JFS.ttf");
 }

 @font-face {
    font-family: "custommono";
    src: url("NovaMono.ttf");
  }

body {
  margin: 0;
  font-family: "custommain",monospace;
  background-color: #111;
}

#top {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  overflow: hidden;
  color: #FFF;
  background-color: #000;
  opacity: 1;
  transition: color 3s,opacity .5s;
}

#top.faded
{
  opacity: 0;
}

#top.brt {
  color: #000;
}

#formholder {
  background-color: rgba(0,0,0,.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  iframe {
    margin-left:5vw;
    margin-top: 11vh;
    width: 90vw;
    height: 90vh;
    max-width: 50rem;
  }
  button {
    position: absolute;
    left:5vw;
    width: 90vw;
    height: 10vh;
    max-width: 50rem;
    font-size: 100%;
  }
  z-index: 5000;
  display:none;
}

#formholder.act {
  display:block;
}

#ti {
  padding: 0;
  font-size: 4vmin;
  color: rgba(192,192,192,.8);
  padding: 1vmin;

  b {
    color: #FFF;
    padding-left: 0.3em;
    font-family: custommono,monospace;
  }
  background-size: 100% 100%;
}
#shr {
  font-size: 3vmin;
  text-align: left;
  div {
    border: #00F solid 1px;
    cursor: pointer;
    color: #99F;
    display: inline-block;
    padding: .5em;
    border-radius: .5em;
  }
  display: none;
}
#shr.act {
  display: block;
}

#levctl {
  div {
    display:none;
  }
  div.act {
    display: inline-block;
    font-variant: small-caps;
  }
  display: none;
}
#levctl.act {
  display: inline-block;
}


.tf {
  opacity: 0;
  transition: opacity 1s;
}
.tf.act {
  opacity: 1;
}

div.sb {
  border-radius: 0.2rem;
  padding: 0.3rem 1rem;
  text-align: center;
  background: linear-gradient(155deg, rgba(0,0,0,0.9) 0%,rgba(64,64,64,.6) 50%,rgba(0,0,0,.9) 100%);
  border-top: ridge .3rem rgba(128,128,128,.6);
  border-bottom: ridge .3rem rgba(128,128,128,.6);
  color: rgba(255,255,255,.8);
}

.tc {
  margin: 1vmin;
  display: inline-block;

  div#stut {
    width: auto;
    height: 4vmin;
    display: none;
    font-variant: small-caps;
    font-size: 4vmin;
    border: none;
    background: none;
    animation: tuttext 1s infinite alternate;
    margin-bottom: 1vmin;
  }
  div#stut.show {
    display: block
  }
  div {
    border: rgba(64,64,64,.6) .1rem ridge;
    background-color: rgba(0,0,0,.5);
    padding: .1rem .1rem;
    width: 10vmin;
    height: 10vmin;
    background-size: 100% 100%;
    border-radius: 0.1vmin;
    margin: 0.1vmin;
    display: inline-block;
    box-sizing: border-box;
    font-size: 2vmin;
    color: #FFF;
    text-align: center;
    cursor: pointer;
  }

  div.active {
    background-color: rgba(128,128,0,.8);
    border: rgba(255,255,128,.8) .2rem inset;

  }
}

#title {
  flex-grow: 1;
  writing-mode: vertical-lr;
  font-size: 5vmin;
  padding-top: 0.25em;
  padding-left: 0.1em;
  text-shadow: 0px 0px 10vmin rgba(128, 128, 128, 1);
  a {
    text-decoration: none;
    color: #777;
    font-size: 2vmin;
  }
}

#panel {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (orientation: portrait) {
  #top {
    flex-direction: column;
  }

  #title {
    writing-mode: horizontal-tb;
  }

  #panel {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

div#mainf {
  height: 100vmin;
  width: 100vmin;
  margin: 0;
  position: relative;
  perspective: 50vmin;
  perspective-origin: 50% 100%;
}

div.main {
  height: 100vmin;
  width: 100vmin;
  color: #000;
  font-size: 5vmin;
  margin: 0;
  position: relative;
  transform: rotateX(15deg) translateY(-15vmin);
  transform-style: preserve-3d;
}

div#dp {
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: 500;
  top: -100%;
  left: 10%;
  text-align: center;
  font-size: 4vmin;
  i {
    display:block;
    font-variant: small-caps;
    text-align: left;
    opacity: .8;
    font-size: 3vmin;
    margin-top:.5em;
    font-style: normal;
  }

  div#dpt {
    opacity: .9;
    font-size: 3vmin;
    b {
      color: #FF8;
      font-variant: small-caps;
      transform: rotate(-8deg);
    }
  }

  div#dpl {
    box-sizing: border-box;
    font-size: 15vmin;
    padding-top: 5.5vmin;
    width: 25vmin;
    height: 25vmin;
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
  }

  div#dpst {
    position:absolute;
    top:0;
    right:0;
    width: 25vmin;
    height: 25vmin;
    background-size: 100% 100%;
    div.str {
      width: 8vmin;
      height: 8vmin;
      background-size: 100% 100%;
    }
    div.str.off {
      opacity:.2;
    }
  }

  div.cmd {
    padding: .5em;
    margin: 1vmin;
    font-size: 120%;
    border-radius: 0;
    font-variant: small-caps;
    display: none;
    width:25vmin;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%,rgba(64,64,64,.8) 50%,rgba(0,0,0,0) 100%);
    border-top: ridge .1rem rgba(192,192,192,.8);
    border-bottom: ridge .1rem rgba(192,192,192,.8);
  }
  div.cmd.df {
    width: 63vmin;
    color: #FF8;

  }
  padding: 0.5vmin;
  transition: top 1s;
}

div#dp.st {
  top: 10%;
  #scmd {
    display: inline-block;
  }
}

div#dp.st.badlic {
  #scmd {
    display: none;
  }
  #ulcmd {
    display: inline-block;
  }
  #nucmd {
    display: inline-block;
  }
}


div#dp.fst {
  top: 10%;

  #fcmd {
    display: inline-block;
  }
  #lcmd {
    display: inline-block;
  }
}

div#dp.ed {
  top: 10%;

  #ncmd {
    display: inline-block;
  }
  #rcmd {
    display: inline-block;
  }
  #lcmd {
    display: inline-block;
  }
}

div.menuscreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;

  position: absolute;
  width: 98%;
  height: 98%;
  z-index: 500;
  bottom: -100vh;
  transition: bottom .5s;
  left: 1%;
  text-align: center;
  font-size: 5vmin;
  box-sizing: border-box;
  color: #FFF;
  text-shadow:  0px 0px 10px #000;

  div.brt {
    color: #000;
    text-shadow:  0px 0px 10px #FFF;
  }
  div {
    width: 20vmin;
    height: 15vmin;
    display: inline-block;
    font-size: 8vmin;
    border: solid rgba(128,128,128,.6) .2rem;
    border-radius: .3rem;
    position: relative;
    cursor: pointer;
    margin: 1vmin auto;
    div {
      position: absolute;
      left: 0;
      top: -1vmin;
      box-sizing: border-box;
      padding-top: 4vmin;
      height: 15vmin;
      width: 15vmin;
      background-size: 100% 100%;
      border: none;
    }
    div.str {
      right: 1vmin;
      left:auto;
      width:5vmin;
      height: 5vmin;
    }
    div.str.off {
      opacity: .2;
    }
    div.str:nth-child(1) {
      top: 0vmin;
      right: 3vmin;
    }
    div.str:nth-child(2) {
      top:4vmin;
      right: .5vmin;
    }
    div.str:nth-child(3) {
      top:8vmin;
      right: 3vmin;
    }

  }

  padding: 0.5vmin;
}

div.menuscreen.act {
  bottom: 1%;
}

@keyframes round {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(72deg);
  }
}

@keyframes roundall {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(359.99deg);
  }
}

@keyframes tuttext {
  0% {
    color: rgba(255,255,192,1);
  }
  20% {
    color: rgba(255,255,64,1);
  }
  100% {
    color: rgba(128,128,64,0);
  }
}
@keyframes home0 {
  0% {
    transform: translateZ(.2vmin) scale(1,1);
    opacity: 1;
  }

  100% {
    transform: translateZ(20vmin) scale(3,3);
    opacity: 0;
  }
}

@keyframes hop0 {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(90deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes death0 {
  0% {
    opacity: 1;
    transform: translate3d(0,0,.5vmin) rotateY(0deg);
  }

  50% {
    opacity: 1;
    transform: translate3d(0,0,-1vmin) rotateY(180deg);
  }

  100% {
    transform: translate3d(0,0,-10vmin) rotateY(0deg);
    opacity: 0;
  }
}
@keyframes start0 {
  0% {
    transform: translateZ(-50vmin);
  }

  100% {
    transform: translateZ(.2vmin);
  }
}
@keyframes chirp0 {
  0% {
    transform: translateZ(0vmin) scale3d(1,1,1);
  }

  40% {
    transform: translateZ(1vmin) scale3d(2,1,1);
  }
  60% {
    transform: translateZ(1vmin) scale3d(1,2,1);
  }

  100% {
    transform: translateZ(0vmin) scale3d(1,1,1);
  }
}
@keyframes home1 {
  0% {
    transform: translateZ(.2vmin) scale(1,1);
    opacity: 1;
  }

  100% {
    transform: translateZ(20vmin) scale(3,3);
    opacity: 0;
  }
}

@keyframes hop1 {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(90deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes death1 {
  0% {
    opacity: 1;
    transform: translate3d(0,0,.5vmin) rotateY(0deg);
  }

  50% {
    opacity: 1;
    transform: translate3d(0,0,-1vmin) rotateY(180deg);
  }

  100% {
    transform: translate3d(0,0,-10vmin) rotateY(0deg);
    opacity: 0;
  }
}

@keyframes start1 {
  0% {
    transform: translateZ(-50vmin);
  }

  100% {
    transform: translateZ(.2vmin);
  }
}
@keyframes chirp1 {
  0% {
    transform: translateZ(0vmin) rotateX(0deg);
  }

  20% {
    transform: translateZ(.2vmin) rotateX(0deg);
  }

  50% {
    transform: translateZ(.5vmin) rotateX(20deg);
  }

  80% {
    transform: translateZ(.2vmin) rotateX(30deg);
  }

  100% {
    transform: translateZ(0vmin) rotateX(0deg);
  }
}

@keyframes home2 {
  0% {
    transform: translateZ(.2vmin) scale(1,1);
    opacity: 1;
  }

  100% {
    transform: translateZ(20vmin) scale(3,3);
    opacity: 0;
  }
}

@keyframes hop2 {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(90deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes death2 {
  0% {
    opacity: 1;
    transform: translate3d(0,0,.5vmin) rotateY(0deg);
  }

  50% {
    opacity: 1;
    transform: translate3d(0,0,-1vmin) rotateY(180deg);
  }

  100% {
    transform: translate3d(0,0,-10vmin) rotateY(0deg);
    opacity: 0;
  }
}

@keyframes start2 {
  0% {
    transform: translateZ(-50vmin);
  }

  100% {
    transform: translateZ(.2vmin);
  }
}
@keyframes chirp2 {
  0% {
    transform: translateZ(0vmin) rotateX(0deg);
  }

  20% {
    transform: translateZ(1vmin) rotateX(50deg);
  }

  50% {
    transform: translateZ(1.5vmin) rotateX(20deg);
  }

  80% {
    transform: translateZ(.5vmin) rotateX(-10deg);
  }

  100% {
    transform: translateZ(0vmin) rotateX(0deg);
  }
}

@keyframes home3 {
  0% {
    transform: translateZ(.2vmin) scale(1,1);
    opacity: 1;
  }

  100% {
    transform: translateZ(20vmin) scale(1,1);
    opacity: 0;
  }
}

@keyframes hop3 {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(90deg);
  }
  80% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes death3 {
  0% {
    opacity: 1;
    transform: translate3d(0,0,.5vmin) rotateY(0deg);
  }

  50% {
    opacity: 1;
    transform: translate3d(0,0,-1vmin) rotateY(180deg);
  }

  100% {
    transform: translate3d(0,0,-10vmin) rotateY(0deg);
    opacity: 0;
  }
}

@keyframes start3 {
  0% {
    transform: translateZ(-50vmin);
  }

  100% {
    transform: translateZ(.2vmin);
  }
}
@keyframes chirp3 {
  0% {
    transform: translateZ(0vmin) scale(1,1);
  }

  20% {
    transform: translateZ(1vmin) scale(1,1);
  }
  40% {
    transform: translateZ(1vmin) scale(1.5,.5);
  }
  60% {
    transform: translateZ(1vmin) scale(.5,1.5);
  }
  80% {
    transform: translateZ(1vmin) scale(1,1);
  }

  100% {
    transform: translateZ(0vmin)  scale(1,1);
  }
}

@keyframes hover {
  0% {
    transform: translateZ(0vmin);
  }

  10% {
    transform: translateZ(-1vmin);
  }

  50% {
    transform: translateZ(-2vmin);
  }

  100% {
    transform: translateZ(0vmin);
  }
}

div.tile {
  position: absolute;
  width: 25vmin;
  height: 25vmin;
  background-size: 100% 100%;
  color: #FFF;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  transition: transform 0.5s;
  transform-style: preserve-3d;

  div.top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-size: 100% 100%;
    pointer-events: none;
  }

  div.bot {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 100% 100%;
    transform-style: preserve-3d;
  }

  div.act {
    z-index: 5;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background-size: 100% 100%;
    animation: round 3s infinite;
  }

  div.act_tuttext {
    z-index: 10;
    position: absolute;
    top: 20%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    color: #FF6;
    text-align: center;
    pointer-events: none;
    font-size: 100%;
    font-variant: small-caps;
    animation: tuttext 1s infinite alternate;
  }

  div.spk {
    pointer-events: none;
    z-index: 100;
    width: 6vmin;
    height: 6vmin;
    position: absolute;
    left: -3vmin;
    top: -3vmin;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;

    div {
      //decor div
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: 100% 100%;
      will-change: transform;
    }
  }
}

div#working {
  background-image: url('favicon.png');
  background-size: 100% 100%;
  width:20vmin;
  height: 20vmin;
  position:absolute;
  left:50%;
  top:50%;
  margin-left: -10vmin;
  margin-top: -10vmin;
  z-index: 1000;
  animation: roundall 6s infinite;
  pointer-events: none;
  opacity: 1;
  transition: opacity .5s;
}

div#working.hidden {
  opacity: 0;
}
