div.sheet {
  div.tile {
    position: relative;
    width: 20vmin;
    height: 20vmin;

  }
  font-size: 300%;
  background: #000;
}

div.editor {
  overflow:hidden;
  div.main {
    float: right;
    transform: scale(.7,.7);
  }
  input {
    font-size: 150%;
    width: 1.2em;
    margin:.1em;
    border: 2px #000 solid;
    padding: .1em;
    font-family: monospace;
  }
  div.editrows {
    padding-top:7em;
  }
  div.row {
    transform-origin: 0% 0%;
    transform: rotateZ(-30deg);
  }
  div#panel {
    position: absolute;
    right:50%;
    transform: scale(.7,.7);
    background: #000;
  }
}
